@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    ul {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }

    #menu-section {
        flex-direction: column;
        align-items: center;
    }
    
    form {
        width: 100%;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    form input[type="text"],
    form input[type="number"],
    form textarea {
        width: 100% !important; 
    }
}

* {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

body {
    background-color: #fffffe;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

#header-img {
    width: 50px;
    padding-right: 1rem;
}

#brand-section {
    display: flex;
    justify-content: start;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    gap: 5rem;
    padding: 0;
    margin: 0;
}

ul li a {
    padding: 10px;
    color: #ff8906;
    text-decoration: none;
    font-size: large;
    border-bottom: 3px transparent solid;
}

ul li a:hover {
    transition: 0.2s ease;
    border-bottom: 3px #a7a9be solid;
}

#menu-section {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 2rem;
}

#order-section {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

